<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        <link rel="stylesheet" href="~/content/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/content/css/style.css" />
        <script src="~/content/js/jquery.min.js"></script>
        <script src="~/content/js/bootstrap.min.js"></script>


        <script type="text/javascript" src="~/scripts/jquery.tablesorter.min.js"></script>
        <script type="text/javascript" src="~/scripts/jquery.tablesorter.pager.min.js"></script>
        <script src="~/scripts/jquery.tablesorter.widgets.min.js"></script>

        <link href="~/content/sorter/style.css" rel="stylesheet" />
        <link href="~/content/themes/base/jquery.ui.all.css" rel="stylesheet" />
        <link href="~/content/css/jquery.tablesorter.pager.css" rel="stylesheet" />

        <script src="~/content/js/setTableSorter.js"></script>

        @RenderSection("Scripts",false)
    </head>
    <body>
        @Html.Partial("_Header")
        <main>
            @RenderBody()
        </main>
        @Html.Partial("_Footer")
    </body>
</html>
