@model CourseAider.Models.Course

@{
    ViewBag.Title = "Delete";
}

<section class="ca-bg1">
    @using (Html.BeginContainer())
    {
        using (Html.BeginRow())
        {
            using (Html.BeginColumn(3))
            {
                <div class="text-center">
                    <h1>Delete @Model.Name</h1>
                </div>
            }
            using (Html.BeginColumn(9))
            {
                <p>
                    <i>
                        If I am walking with two other men, each of them will serve as my teacher. I will pick out the good points
                        of the one and imitate them, and the bad points of the other and correct them in myself.
                    </i>
                </p>
                <p class="text-right" style="margin-right:25px"><b>Confucious</b></p>
            }
        }
    }
</section>

<section class="ca-bg3 img" style="background-image: url('@Model.Image');">
    @using (Html.BeginContainer())
    {
        using (Html.BeginRow())
        {
            using (Html.BeginColumn(12))
            {
                <h2>Course '@Model.Name' creator is @Model.Creator.RealName</h2>
                <div style="background:rgba(77,77,77,0.5);margin:5px;padding:5px;border-radius:5px">
                    <p>
                        @Model.Description
                    </p>
                </div>
            }
        }
    }
</section>

<section class="ca-bg2">
    @using (Html.BeginContainer())
    {
        using (Html.BeginRow())
        {
            using (Html.BeginColumn(12))
            {
                using (Html.BeginForm()) {
                    @Html.AntiForgeryToken()
                    <p>
                        <input type="submit" value="Delete" class="requireConfirmation btn btn-primary" 
                               data-confirm-msg="This will ireversibly delete the course and all of its groups, do you wish to continue?" /> |
                        @Html.ActionLink("Back to List", "Index")
                    </p>
                }
            }
        }
    }
</section>
