@model CourseAider.Models.Course

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Course</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Image)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Image)
    </div>
    <div class="display-label">
        Course groups:
    </div>
    <div class="display-field">
        @foreach (var item in Model.Groups)
        {
        <a href="/group/details/@item.Id">@item.Name</a>
        }
    </div>
</fieldset>
<p>
    @Html.ActionLink("Add", "Create", "Group", new { id=Model.Id } , null) |
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
