@model CourseAider.Models.Course

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

@if(Request.HttpMethod == "POST")
{
    <div class="well-lg alert-success">
        <h2>You have successfully enrolled for <b>@Model.Name</b></h2>
    </div>
}
else if (!Model.Members.Any(member => member.UserName == WebSecurity.CurrentUserName))
{
    using(Html.BeginForm("Details","Course",new{ id = Model.Id },FormMethod.Post,null))
    {
        @Html.AntiForgeryToken();
        <input type="submit" name="enroll" value="Enroll" class="btn btn-primary requireConfirmation"
        data-confirm-msg="You are going to enroll for a the @Model.Name course, this cannot be undone, are you sure?"/>
    }
}
else
{
    <div class="well-lg alert-info">
        <h2>You are enrolled for <b>@Model.Name</b></h2>
    </div>
}

<fieldset>
    <legend>Course</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Image)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Image)
    </div>
    <div class="display-label">
        Course groups:
    </div>
    <div class="display-field">
        @foreach (var item in Model.Groups)
        {
        <a href="/group/details/@item.Id">@item.Name</a>
        }
    </div>
</fieldset>
<p>
    @Html.ActionLink("Add", "Create", "Group", new { id=Model.Id } , null) |
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
