@model List<CourseAider.Models.UserProfile>
@{
    int counter = 0;
}
<h2>Monthly Top Three</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Total Score</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            counter++;
            if(user.UserName == WebSecurity.CurrentUserName)
            {
                <tr class="alert-info">
                    <th>@counter</th>
                    <th>>  @user.UserName</th>
                    <th>@user.Score</th>
                </tr>
            }
            else
            {
                <tr>
                    <th>@counter</th>
                    <th>@user.UserName</th>
                    <th>@user.Score</th>
                </tr>
            }
        }
    </tbody>
</table>